.breadcrumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: none;
  padding: 0 15px 15px 0;
  margin: 0px 0 10px;
}

.breadcrumb li,
.breadcrumb li a {
  color: $taupe-dark;
  background-color: inherit;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;
}

ol.breadcrumb li a {
  // border-bottom: 1px solid lighten($taupe-light, 2%);
  box-shadow: inset 0 -1px 0px lighten($taupe-light, 15%);
  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -1px 0px lighten($taupe-dark, 1%);
  }
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: lighten($taupe-light, 10%);
  content: ">";
}

.homepage ol.breadcrumb {
  display: none;
}