.btn-default:hover, .btn-default:focus {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#e6e6e6), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #e6e6e6 0, #ffffff 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0, #ffffff 100%);
  background-repeat: repeat-x;
  border-color: #e0e0e0;
  border-color: #adadad;
}

.btn-primary {
  color: #fff;
  background-color: #A49483;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#A49483), to(#8A7D6E));
  background-image: -webkit-linear-gradient(top, #A49483, 0%, #8A7D6E, 100%);
  background-image: -moz-linear-gradient(top, #A49483 0, #8A7D6E 100%);
  background-image: linear-gradient(to bottom, #A49483 0, #8A7D6E 100%);
  background-repeat: repeat-x;
  border-color: #8A7D6E;
}

.btn-primary:hover {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#8A7D6E), to(#A49483));
  background-image: -webkit-linear-gradient(top, #8A7D6E, 0%, #A49483, 100%);
  background-image: -moz-linear-gradient(top, #8A7D6E 0, #A49483 100%);
  background-image: linear-gradient(to bottom, #8A7D6E 0, #A49483 100%);
  background-repeat: repeat-x;
  border-color: #8A7D6E;
}

.btn-success {
  color: #fff;
  padding: 8px 20px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: $violet_bright2;
  background-image: -webkit-gradient(linear, left 0, left 100%, from($violet_bright), to($violet_bright2));
  background-image: -webkit-linear-gradient(top, $violet_bright, 0%, $violet_bright2, 100%);
  background-image: -moz-linear-gradient(top, $violet_bright 0, $violet_bright2 100%);
  background-image: linear-gradient(to bottom, $violet_bright 0, $violet_bright2 100%);
  background-repeat: repeat-x;
  border-color: $violet;
}

.btn-success:hover {
  color: #fff;
  background-color: $violet_bright;
  background-image: -webkit-gradient(linear, left 0, left 100%, from($violet_bright2), to($violet_bright));
  background-image: -webkit-linear-gradient(top, $violet_bright2, 0%, $violet_bright, 100%);
  background-image: -moz-linear-gradient(top, $violet_bright2 0, $violet_bright 100%);
  background-image: linear-gradient(to bottom, $violet_bright2 0, $violet_bright 100%);
  background-repeat: repeat-x;
  border-color: $violet;
}