.facets {
  a {
    padding: 10px 15px;
    &:link, &:visited {
      color: shade($taupe-dark, 5%);
      display: block;
    }
    &:hover {
      background-color: lighten($taupe-super-light, 1%);
    }
    .pull-right {
      float: none !important;
      display: block;
      text-align: right;
    }
  }
  .list-group-item {
    font-size: .8rem;
  }
  .list-group-nextlink {
    a {
      &:hover {
        background-color: inherit;
      }
    }
  }
  li {
    padding: 0;
  }
}