/* flexbox sticky footer */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

header.navbar,
footer.navbar {
  flex: none;
}

#content {
  flex: 1 0 auto;
  width: 100%;
}

/* end flexbox sticky footer */
.col-md-9 > * {
  max-width: 50rem;
}

.page-title-area, .search-area {
  max-width: 45rem;
}

body .search-area {
  max-width: 35rem;
}

.page-title-area {
  padding-bottom: 3px;
  width: auto;
  overflow: auto;
  h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    padding-bottom: 0;
  }
  .img-hold {
    float: left;
    margin-right: 20px;
  }
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding-left: 0px;
  text-align: left;
}

.table.panel-body {
  td:first-child, th:first-child {
    padding-left: 15px;
  }
}

.discovery-result-results, .collectionlist {
  .table {
    td:first-child {
      padding-right: 25px;
      text-align: left;
      white-space: nowrap;
    }
    td:nth-child(2) {
      padding-right: 25px;
      text-align: left;
      width: 50%;
      font-weight: bold;
    }
  }
}