.page-title-area, .search-area {
  max-width: 45rem;
}

.page-title-area {
  padding-bottom: 3px;
  h2 {
    font-size: 2rem;
    margin-bottom: 5px;
    padding-bottom: 0;
  }
}

.collections-list {
  margin-top: 30px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding-left: 0px;
  text-align: left;
}

.table td:first-child {
  padding-right: 25px;
  text-align: left;
  white-space: nowrap;
}

.table td:nth-child(2) {
  padding-right: 25px;
  text-align: left;
  width: 40%;
}