.form-group-flex {
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.panel-heading-simplesearch {
  padding-left: 15px;
}

.search-area {
  margin: 5px 0 40px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  .panel-body {
    padding: 0;
  }
  form {
    box-shadow: 1px 1px 2px rgba(152, 137, 121, 0.46);
    border-radius: 5px;
  }
}

.form-control:focus, .btn:focus, *:focus {
  border-color: $teal !important;
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($teal, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($teal, 0.6);
}

.search-page-title, .resultsnum {
  //font-family: Georgia, Times;
  font-weight: normal;
}

.discovery-result-pagination {
  h2 {
    font-size: 1.5rem;
  }
}

.discovery-result-results {
  margin: 1rem 0;
  border-top: 4px double tint($taupe-light, 40%);
  border-bottom: 4px double tint($taupe-light, 40%);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: $taupe-light;
  border-color: $taupe-light;
}

.simplest-search {
  .input-hold {
    display: block;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    input#query {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: none;
    }
  }
  .input-hold input {
    width: 100%;
    padding: 6px 12px;
    font-size: 17px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    height: 40px;
  }
  .button-hold {
    min-width: 15%;
    display: block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $taupe-dark;
    @include background-image(linear-gradient($taupe-dark, #8A7D6E));
  }
  .button-hold button {
    width: 100%;
    background: transparent;
    border: transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 40px;
  }
}

.form-control {
  display: inline-block;
  width: auto;
}

.discovery-search-form {
  background-color: tint($taupe-light, 60%);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-color: tint($taupe-light, 40%);
  .discovery-query {
    // max-width: 600px;
    // background-color: lighten($taupe-light, 20%);
    transition: all .1s ease-in;
    .interface-link {
      color: darken($taupe-dark, 20%);
      text-decoration: underline;
      display: inline-block;
    }
  }
  label {
    margin-bottom: 0;
    width: 68px;
  }
  .discovery-query.open {
    padding: 15px 15px 0;
  }
  .form-group-flex {
    margin: 10px 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  select {
    max-width: 100%;
  }
  .form-flex-item {
    display: block;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    /*  background-color: red;*/
    margin-right: 10px;
    max-width: 100%;
  }
  .form-flex-item:last-child {
    margin-right: 0px;
  }
  .form-flex-item.item-label {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .discovery-search-filters {
    display: none;
    width: 100% !important;
    background-color: lighten($taupe-light, 10%);
  }
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding-left: 0px;
  text-align: left;
}

.table.panel-body {
  td:first-child, th:first-child {
    padding-left: 15px;
  }
}

.item-results, .collectionlist, .browsing-by {
  .table {
    td:first-child {
      padding-right: 25px;
      text-align: left;
      white-space: nowrap;
    }
    td:nth-child(2) {
      /* the title column */
      padding-right: 25px;
      text-align: left;
      width: 50%;
      font-weight: bold;
    }
  }
}

#startnewsearch-link {
  display: block;
}

.discovery-results-header {
  margin-top: 3rem;
  .resultsnum {
    margin: 8px 0 0;
    float: left;
    span {
      font-size: 1rem;
    }
  }
}

input#query {
  width: 100%;
  padding: 6px 12px;
  font-size: 17px;
}

.discovery-pagination-controls {
  text-align: right;
  .form-group-flex {
    /*background-color: pink;*/
    margin-bottom: 15px;
    display: none;
  }
  .form-flex-item {
    /*  background-color: red;*/
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    /*border-right: 1px solid brown;*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.remove-filter .btn {
  padding: 2px 0 0 0;
  height: 25px;
  width: 25px;
}

.small-button .btn {
  padding: 2px 5px 0 5px;
  height: 25px;
}