.collections-list h3 {
  border-bottom: 1px solid lighten($taupe-light, 14%);
}

.fda-tree {
  a {
    display: block;
    height: auto;
  }
  h2 {
    color: $taupe-header;
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
    margin: 0;
    a:link, a:visited {
      color: $text-color;
      padding: 7px 0;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    clear: left;
  }
  ul > li > ul {
    margin-left: 50px;
    // background-color: red;
    background-color: lighten($taupe-light, 29%);
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      margin-left: 20px;
      clear: left;
    }
    > li > ul {
      background-color: lighten($taupe-light, 25%);
    }
    h4 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  li ul ul {
    // margin-left: 80px;
    //background-color: blue;
 
  }
  a.arrow {
    // display: block;
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 0;
    text-align: left;
    margin-right: 0;
    width: 30px;
    color: darken($link-red, 5%);
    // border: 1px solid transparent;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
    &:hover {
      // box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.125);
      // background-color: #EDE8E2;
      // background-color: lighten($taupe-light, 25%);
      // border: 1px solid #EDE8E2;
      color: lighten($link-red, 15%);
    }
    &.isOpen {
      //border: 1px solid red;
      // box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      //background-color: #FCF7F1;
   
    }
  }
}